<div class="container">    
    <div class="row">
        <form action="/action_page.php">
            <div class="container">
              <h1>Inscription</h1>
              <p>Merci de remplir ce formulaire pour créer un compte</p>
              <hr>
              <label for="username"><b>Username</b></label>
              <input type="text" placeholder="Username" name="username" id="username" required>

              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" id="email" required>
          
              <label for="psw"><b>Mot de passe</b></label>
              <input type="password" placeholder="Entrer le mot de passe" name="psw" id="psw" required>
              
              <button type="submit" class="registerbtn">Enregistrer</button>
            </div>
            
            <div class="container signin">
              <p>Vous avez déjà un compte? <a href="#">S'identifier</a></p>
            </div>
          </form>
    </div>
</div>