<div class="container">
    <div class="row" >

     <img src="./assets/Images/mali.png" alt="" class="img1" >
    </div>
</div>

<div class="container" style="margin-top: 2%;">
    <div class="row">
        <div class="col">
            <div class="container" style="margin-left: -2%;">
                <div class="card">
                    <h4 class="card-title">Mon pays</h4>
                    <img class="card-img-top" src="./assets/Images/kayes.png" alt="Card image" >
                    <div class="card-body">
                        <p class="card-text">Some example text some example text.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="container" style="margin-left: 7%;">
                <div class="card" >
                    <h4 class="card-title">Mes régions</h4>
                    <img class="card-img-top" src="./assets/Images/kayes.png" alt="Card image" >
                    <div class="card-body">
                        <a routerLink="/region"><button type="button" class="btn"><h5>Découvir</h5> </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>